@font-face {
  font-family: "SF-Pro-Display-Bold";
  src:
    url("https://fistmaker.ru/assets/SF-Pro-Display-Bold-CkqE-6tD.otf") format("opentype")
}

$color-background: #131313; // Фон body
$color-text: #cdd9ff; // Цвет текста ссылок и некоторых элементов
$color-text-hover: #fff; // Цвет текста ссылок при наведении
$color-scrollbar-track: #141414; // Фон трека полосы прокрутки
$color-scrollbar-thumb: #292828; // Фон ползунка полосы прокрутки
$color-input-background: #39404a; // Фон для input элементов
$color-input-border: #718093; // Граница для input элементов
$color-button-background: #546e7a; // Фон кнопок
$color-button-hover: #2e4560; // Фон кнопок при наведении
$color-slider-thumb: #546e7a; // Фон ползунка слайдера
$color-slider-thumb-active: #3b5a7e; // Фон активного ползунка слайдера
$color-slider-track: #d3d3d3; // Фон трека слайдера
$color-notification: #28a745; // Фон уведомлений
$color-notify-background: #3b5a7e; // Фон блока notify

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF-Pro-Display-Bold";
}

body {
  background-color: $color-background;
}

body::before {
  font-family: "SF-Pro-Display-Bold";
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><text x="10" y="15" transform="rotate(30)" fill="rgba(255, 255, 255, 0.05)" font-size="20">FistMaker</text></svg>') repeat;
  pointer-events: none;
}

a {
  color: $color-text;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline 2px $color-text-hover;
  }
}

span {
  font-size: 15px;
  padding: 3.75px;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
  background: $color-scrollbar-track;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb;
}

.header {
  width: 100%;
  height: 85px;
  margin-top: 1.25%;
  background: url('https://fistmaker.ru/assets/FistMaker.png') no-repeat center center;
  background-size: contain;
  
  @media (max-width: 767px) {
    height: 50px;
  }
}

.container {
  color: #e1e1e1;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media (max-width: 767px) {
    min-height: 100vh;
  }
}

.outputImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 15px;
  border: none;
}

.imageInfo {
  margin-top: 10px;
}

.group {
  margin: 10px 0;
  width: 100%;
  label {
    display: block;
    margin-bottom: 5px;
    color: #e1e1e1;
  }
  
  input[type='file'],
  input[type='color'],
  input[type='number'],
  select {
    color: #ffffff;
    background-color: $color-input-background;
    border: 1px solid $color-input-border;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    width: 15%;
    outline: none;
    
    &::file-selector-button {
      background-color: $color-button-background;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      margin-right: 10px;
      color: #ffffff;
    }
  }
  
  input[type='number'] {
    max-width: 6%;
    font-size: 18px;
    text-align: center;
  }
  input[type='color'] {
    max-width: 6%;
  }

  @media (max-width: 767px) {
    input[type='file'],
    input[type='color'],
    input[type='number'],
    select {
        width: 75%;
        max-width: 100%;
    }
  }

}

.controls {
  width: 100%;
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.downloadLink {
  display: none;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #3b5a7e;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: #2e4560;
    text-decoration: none;
    cursor: pointer;
  }

}

.v {
  color: #585f6a;
  img {
    width: 26px;
    height: auto;
    display: inline;
    vertical-align: middle;
    padding-left: 4%;
  }
}

.prod {
  img {
    width: 15px;
    height: 15px;
    display: inline;
    vertical-align: middle;
  }
}

.social {
  img {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    margin: 3px;
  }
}

.link {
  color: #cdd9ff;
  text-decoration: none;
  img {
    width: 18px;
    height: 18px;
    display: inline;
    vertical-align: middle;
    margin: 3px;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline #fff;
  }
}

.linksContainer {
  text-align: center; 
}


.linkDivider {
  display: inline;
  margin: 0px; 
}

.sendError {
  display: inline-block;
  color: #cdd9ff;

  &:hover {
    text-decoration: underline #fff;
    cursor: grab;
  }
}

.linkProject {
  display: inline-block;
  color: #cdd9ff;

  &:hover {
    text-decoration: underline #fff;
    cursor: pointer;
  }
}

.linkFaq {
  color: #4a5058;

  &:hover {
    cursor: not-allowed;
  }
}

.borderThicknessSlider {
  -webkit-appearance: none;
  width: 15%;
  height: 7px;
  border-radius: 5px;
  background: $color-slider-track;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
  margin: 10px 0px 10px 0px;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-slider-thumb;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: $color-slider-thumb-active;
    cursor: pointer;
  }

  &:active::-webkit-slider-thumb {
    background: $color-slider-thumb-active;
  }

  &:active::-moz-range-thumb {
    background: $color-slider-thumb-active;
  }
}

.borderThicknessValue {
  display: inline-block;
  border: 1px solid #546e7a;
  border-radius: 25%;
  padding: 5px;
  background-color: #39404a;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  .borderThicknessSlider {
    width: 75%; 
  }
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 10px 20px;
  background-color: $color-notification;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 5s; 
}

.notify {
  margin-top: .5%;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 10px 20px;
  background-color: $color-notify-background;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 5s;
  
  img {
    width: 25px;
    height: auto;
    display: inline;
    vertical-align: middle;
    padding-right: 1%;
  }
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Чтобы модальное окно было поверх других элементов
  
  .modalcontent {
    position: relative;
    background-color: $color-background;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px; // Максимальная ширина модального окна
    max-height: 80vh; // Максимальная высота модального окна
    overflow-y: auto; // Добавляем прокрутку, если контент больше высоты модального окна

    button {
      border: none;
      border-radius: 5px;
      background-color: $color-button-background;
      color: $color-text;
      padding: 5px;

      &:hover {
        background-color: $color-button-hover;
        cursor: pointer;
      }
    }

    h2 {
      margin-bottom: 10px;
    }

    p {
      line-height: 1.7;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    .modalcontent {
      width: 90%; 
      max-width: none; 
    }
  }
}

// -- Generate fist Button --

// .tooltipWrapper {
//   position: relative;
//   display: inline-block;
// }

// .tooltipButton {
//   cursor: not-allowed;
//   text-decoration: none;
//   color: #fff;
//   margin-top: 10px;
//   margin-bottom: 15px;
//   background-color: grey;
//   padding: 10px 20px;
//   border-radius: 5px;
//   transition: background-color 0.9s ease;
// }

// .tooltipButton:disabled {
//   opacity: 0.5;
// }

// .tooltipText {
//   visibility: hidden;
//   opacity: 0;
//   width: 120px;
//   background-color: #ffffff;
//   color: #000;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   left: 100%;
//   margin-left: 10px;
//   transform: translateY(50%) translateX(100px);
//   transition: visibility 0s, opacity 0.5s ease, transform 0.5s ease;
// }

// .tooltipWrapper:hover .tooltipText {
//   visibility: visible;
//   opacity: 1;
//   transform: translateY(-60%) translateX(0px); 
//   transition-delay: 0s, 0s, 0s;
// }

// @media only screen and (max-width: 768px) {
//   .tooltipText {
//     top: auto; 
//     bottom: 100%;
//     left: 50%;
//     transform: translateX(-50%) translateY(10px);
//     margin-left: 0; 
//   }

//   .tooltipWrapper:hover .tooltipText {
//     transform: translateX(-50%) translateY(0px);
//   }
// }
