.icon {
    width: 40px;
    height: auto;
    display: inline-flex;
    vertical-align: middle;
    margin: 5px;
}

.container {
    line-height: 1.9;
    padding: 25px;
    // padding-left: 20px;
}

.stepan {
    width: 70px;
    height: auto;
}

.people {
    background: linear-gradient(to right, #5482cd, #eef2fe, #b3c7fc, #34517d);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: people 1s ease infinite;
    animation: people 20s ease infinite;
    font-size: 25px;
    line-height: 25px;
}

@-webkit-keyframes people{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes people {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
  