.icon {
    width: 40px;
    height: auto;
    display: inline-flex;
    vertical-align: middle;
    margin: 5px;
}

.container {
    line-height: 2;
    padding: 25px;
    font-size: 15px;
    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 35px;
            height: auto;
            margin: 0 15px 0 15px;

            &:hover {
                filter: blur(0.4px) drop-shadow(0 0 0.30rem #1f84f8);
                cursor: pointer;
            }
        }

        .ts-logo {
            filter: drop-shadow(0 0 0.55rem #1f84f8);
            border-radius: 6.5px;
        }
        .react-logo {
            animation: react 10s infinite linear;
            filter: drop-shadow(0 0 0.75rem #00bbd3);
        }
        .sass-logo {
            filter: drop-shadow(0 0 0.75rem #be628f);
        }
        .vite-logo {
            filter: drop-shadow(0 0 0.75rem #837eff);
        }
        .shtorm-logo {
            filter: drop-shadow(0 0 0.55rem #09b7d7);
        }
        .vs-logo {
            filter: drop-shadow(0 0 0.75rem #0179cb);
        }
        .google-logo {
            filter: drop-shadow(0 0 0.55rem #dcdcdc);
        }
        .github-logo {
            filter: drop-shadow(0 0 0.55rem #cdcdcd);
        }
        .photoshop-logo {
            filter: drop-shadow(0 0 0.75rem #001e36);
        }
        .egor {
            border-radius: 10px;
            filter: drop-shadow(0 0 0.75rem #3959a1);
        }
        @media (max-width: 768px) {
            img {
                width: 25px;
            }
        }
    }
    .info-later {
        color: #7c7c7c;
    }
    .donate {
        color: #9c9c9c;
    }
}

.stepan {
    width: 70px;
    height: auto;
}

.donateBtn {
    margin-top: 3%;
    border: none;
    max-width: 90%;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .know {
        color: #808a93;
        font-size: 14px;
        line-height: 1.1px;

    }

    img {
        width: 150px;
        height: auto;
    }

    a {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        font-size: 15px;
        color: #2864b1;
        text-decoration: none;
        padding: 0px 60px 0px 60px;

        img {
            display: flex;
            justify-content: space-between;
            width: 29px;
            height: 29px;
            vertical-align: middle;
            padding: 3.25px;
        }
    }

    .site {
        margin-top: 2%;
        background-color: #76c11e;
        color: #fff;
        border: none;
        border-radius: 25px;
        padding: 3px;
        width: 15%;

        &:hover {
            opacity: 0.8;
        }

        @media (max-width: 768px) {
            width: auto;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .git, .bh, .tg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0d1117;
        border: none;
        border-radius: 25px;
        width: 30%;
        color: #fff;

        &:hover {
            color: #d1d1d1;
            opacity: 0.8;
        }
    }
    .bh {
        background-color: #3c3c3c;
    }
    .tg {
        background-color: #289fd2;
    }


    .links {
        display: flex;
        justify-content: space-between;
        margin: 3%;

        @media (max-width: 1500px) {
            flex-direction: column;
            align-items: center;

            .git, .bh, .tg {
                width: 80%;
                margin-bottom: 20px;
            }
        }
    }
    .checkIcon {
        width: 20px;
        height: auto;
        vertical-align: middle;
    }
}

.people {
    background: linear-gradient(to right, #5482cd, #eef2fe, #b3c7fc, #34517d);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: people 1s ease infinite;
    animation: people 20s ease infinite;
    font-size: 25px;
    line-height: 25px;
}


@-webkit-keyframes people{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes people {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

h2 {
    margin-left: 0;
    flex-grow: 1;
}

@keyframes react {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(720deg);
    }
}
